* {
    background: red;
}

.hero-section {
    background-color: #0C4B33; 
    position: relative;
    padding: 80px 0;
    overflow: hidden;
    background-image: url('https://i0.wp.com/portallineup.com.br/wp-content/uploads/2024/11/Modelo-de-foto-horizontal-2024-11-18T183645.168-scaled.jpg?resize=700%2C420ssl=1');
    background-size: cover;
    background-position: center;
}
.hero-box {
    background-color: #28a745; /* Verde claro */
    padding: 40px;
    border-radius: 10px;
    color: white;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}
    /* Elementos decorativos do fundo */
.hero-decoration {
     position: absolute;
    right: 0; top: 0; height: 100%; width: 60%;
    background-size: contain;
    opacity: 0.1;
    pointer-events: none;
}
    
.section-title { color: #28a745; font-weight: bold; margin-bottom: 1rem; }
    
.card-custom { border: none; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.05); background: white; padding: 20px; }
    
.product-card { border: none; box-shadow: 0 2px 8px rgba(0,0,0,0.1); border-radius: 10px; transition: transform 0.2s; background: white; }
.product-card:hover { transform: translateY(-5px); }
.product-card img { height: 180px; object-fit: contain; padding: 10px; }
.btn-buy { background-color: #28a745; color: white; border: none; width: 100%; font-weight: bold; }
.btn-buy:hover { background-color: #218838; color: white; }

/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    overflow-x: hidden; 
}

.banner {
    height: 100vh; 
    width: 100%;
    position: relative;
    
    background-image: url('https://i0.wp.com/portallineup.com.br/wp-content/uploads/2024/11/Modelo-de-foto-horizontal-2024-11-18T183645.168-scaled.jpg?resize=700%2C420ssl=1');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.banner-card {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
    
    width: 35%; 
    max-width: 500px; 
    padding: 30px;
    color: white;
    
    border-top-right-radius: 40px; 
    border-bottom-right-radius: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background: #0a1a5f;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-cad {
    background: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    margin-top: 15px;
    color: #0a1a5f;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start; 
} */