{% extends "template.html" %}

{% block titulo %} Home {%  endblock %}

{% block conteudo %}
<div class="banner">
    <div class="banner-card">
        <h5>Bem-vindo ao nosso espaço!</h5>
        <p>
            Aqui você encontra os melhores produtos e informações exclusivas para tornar sua experiência ainda mais especial.
            Explore nossas seções, conheça nossos destaques e não perca nenhuma novidade.  
            Quer ficar por dentro de tudo? Cadastre-se agora!
        </p>
        <button class="btn-cad">Cadastrar</button>
    </div>
</div>
    <h2>aaaaaa</h2>
{% endblock %}